<<<<<<< HEAD
.kolor{
  background-color: #41a7bf;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.3);
  font-family: ‘LatoRegular’, sans-serif;
  font-size: 24px;
  line-height: 48px;
  color: #fff;
}

=======
.nk-active{
    color: white !important;
}
>>>>>>> 5ef8b5a456f41add53a462563fde4436119313dc
