<nav class="navbar navbar-toggleable-md navbar-light bg-faded navbar-inverse bg-primary">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/start">Carrier Advisor</a>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/search" routerLinkActive="nk-active">Search <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/test" routerLinkActive="nk-active">Test</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/favourites" routerLinkActive="nk-active">Favourites</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/recommended" routerLinkActive="nk-active">Recommended</a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hello, <span *ngIf="userName">{{userName}}</span>  <span *ngIf="!userName">Guest</span>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" *ngIf="userName" routerLink="/start">Sign out</a>
                <a class="dropdown-item" *ngIf="!userName" routerLink="/login">Sign in</a>
                <a class="dropdown-item" *ngIf="!userName" routerLink="/signup">Sign up</a>
              </div>
        </li>
      </ul>
    </div>
</nav>
<ng-content></ng-content>