<h6>Welcome in Carrier Advisor App</h6>
<p>CA App helps find Your dream occupation.</p>
<h6 style="margin-top:10px;">Log to CA in:</h6>
<button type="button" routerLink="/login" class="btn btn-block btn-outline-primary">Sign in</button>
<h6 style="margin-top:10px;">Haven't account yet? Register Yourself:</h6>
<button type="button" routerLink="/signup" class="btn btn-block btn-outline-primary">Sign up</button>
<h6 style="margin-top:10px;">Just wanna search some occupations?</h6>
<button type="button" routerLink="/search" class="btn btn-block btn-outline-primary">Search as a Guest</button>

