<table *ngIf="nkDataToRender" class="table table-hover table-sm">
    <thead>
      <tr>
        <th>Name</th>
        <th>Average Salary</th>
        <th>Stress level</th>
        <th>Education Level</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let occupation of nkDataToRender" [routerLink]="['/occupation', occupation.id]" title="Click for details">
        <td> {{occupation.label}}
          <span *ngIf="isThatOccupation(occupation.id, favourite)" title="Delete from favourite" style="color:orange; cursor:pointer; font-size: 24px" (click)="$event.stopPropagation(); removeFromFavouirite(occupation.id)"> &#x02605;</span>
          <span *ngIf="!isThatOccupation(occupation.id, favourite)" title="Add to favourite" style="color:orange; cursor:pointer; font-size: 24px" (click)="$event.stopPropagation(); addToFavouirite(occupation)"> &#x02606;</span>
          <span *ngIf="isThatOccupation(occupation.id, recommended)" title="Recommended from test" class="badge badge-info">Recommended</span>
        </td>
        <td> {{occupation.salary}} PLN</td>
        <td> {{occupation.stress}} / 10</td>
        <td *ngIf="occupation.education === 1">Basic</td>
        <td *ngIf="occupation.education === 2">Secondary</td>
        <td *ngIf="occupation.education === 3">Higher</td>
      </tr>
    </tbody>
  </table>

