<table *ngIf="nkDataToRender" class="table table-hover table-sm">
    <thead>
      <tr>
        <th>Name</th>
        <th>Average Salary</th>
        <th>Stress level</th>
        <th>Education Level</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let occupation of nkDataToRender" [routerLink]="['/occupation', occupation.id]" >
        <td> {{occupation.label}}
          <span *ngIf="isThatOccupation(occupation.id, favourite)" style="color:red"> favourite</span>
          <button type="button" class="btn btn-sm btn-primary" *ngIf="!isThatOccupation(occupation.id, favourite)" (click)="$event.stopPropagation(); addToFavouirite(occupation)"> add to fav</button>
          <span *ngIf="isThatOccupation(occupation.id, recommended)" style="color:blue"> recommended</span>
        </td>
        <td> {{occupation.salary}} PLN</td>
        <td> {{occupation.stress}} / 10</td>
        <td *ngIf="occupation.education === 1">Basic</td>
        <td *ngIf="occupation.education === 2">Secondary</td>
        <td *ngIf="occupation.education === 3">Higher</td>
      </tr>
    </tbody>
  </table>

