
  <div class="logo col-md-6 offset-md-3">
      <object  data="./assets/logo1.svg" type="image/svg+xml"></object>
  </div>


  <div class="company-name col-md-6 offset-md-3">
      <img src="./assets/nazwa.png" alt="nazwa" />
  </div>
 

  <div class="search-box col-md-6 offset-md-3">
      <input type="text" value="Wyszukaj zawód...">
      <img src="./assets/go.png" alt="dalej" />  
  </div>


  <div class="col-md-6 offset-md-3">
      <img src="./assets/wyszukaj.png" alt="wyszukaj" />
      <h1>sss</h1>
</div>

  <div class="col-md-6 offset-md-3">
      <img src="./assets/rozpocznij.png" alt="test" />
  </div>

