<div style="margin-top:10px;">
    <h5>Sign in</h5>
    <h6  style="margin-top:10px;">Login:</h6>
    <input class="form-control"  [(ngModel)]="login" type="text" autofocus>
    <h6  style="margin-top:10px;">Password:</h6>
    <input class="form-control"  [(ngModel)]="password" type="password">
    <button type="button"  style="margin-top:10px;" class="btn btn-block btn-outline-primary" (click)="logIn(login, password)">Log in</button>
    <h6 *ngIf="errorMessage" class="text-center" style="color:red; margin-top:20px;">{{errorMessage}}</h6>
    
</div>

<nk-back-button></nk-back-button>
