<nk-navbar>
<form>
  <!-- zmieniłam wpis w okienku na Search for.. -->
  <input type="text" class="form-control" [(ngModel)]="nkUserPhrase" name="searchOccupation" (ngModelChange)="downloadChosenOccupations(nkUserPhrase)" placeholder="Search for...">
  <!-- <button type="button" class="btn btn-block btn-outline-primary" (click)="downloadChosenOccupations(nkUserPhrase)">Search</button> -->
  <button type="button" routerLink="/search/advanced" class="btn btn-block btn-outline wyszukaj" >Advanced Search</button>

</form>

<nk-occupations-list [nkDataToRender]="occupations"></nk-occupations-list>
</nk-navbar>