<nk-navbar>
<form>
  <input type="text" class="form-control" [(ngModel)]="nkUserPhrase" name="searchOccupation" (ngModelChange)="downloadChosenOccupations(nkUserPhrase)" placeholder="Start writing occupation you looking for...">
  <!-- <button type="button" class="btn btn-block btn-outline-primary" (click)="downloadChosenOccupations(nkUserPhrase)">Search</button> -->
  <button type="button" routerLink="/search/advanced" class="btn btn-block btn-outline-primary">Advanced Search</button>
</form>

<nk-occupations-list [nkDataToRender]="occupations"></nk-occupations-list>
</nk-navbar>