  <div class="card text-center" *ngIf="occupation">
      <iframe *ngIf="safeUrl" width="auto" height="350px;" [src]='safeUrl' frameborder="0" allowfullscreen></iframe>
      <div class="card-block">
        <h4 class="card-title">{{occupation.label}}</h4>
        <p class="card-text">{{occupation.description}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Average Salary: {{occupation.salary}} PLN / month</li>
        <li class="list-group-item">Stress Level: {{occupation.stress}} / 10</li>
        <li class="list-group-item" *ngIf="occupation.education === 1">Education Level: Basic</li>
        <li class="list-group-item" *ngIf="occupation.education === 2">Education Level: Secondary</li>
        <li class="list-group-item" *ngIf="occupation.education === 3">Education Level: Higher</li>
      </ul>
    </div>
    <nk-back-button></nk-back-button>



