<div *ngIf="occupation">
  <h3 class="text-center">{{occupation.label}}</h3>
  <p>{{occupation.description}}</p>
  <div *ngIf="safeUrl" class="text-center">
  <iframe width="560" height="315" [src]='safeUrl' frameborder="0" allowfullscreen></iframe>
  <h6>Average Salary: {{occupation.salary}}</h6>
  <h6>Stress Level: {{occupation.stress}}</h6>
  <h6 *ngIf="occupation.education === 1">Education Level: Basic</h6>
  <h6 *ngIf="occupation.education === 2">Education Level: Secondary</h6>
  <h6 *ngIf="occupation.education === 3">Education Level: Higher</h6>
  </div>
  <nk-back-button></nk-back-button>
</div>
